

<body>
    <% count = 0 %>
    <% clean_count = 0 %>
    <% bed_events = 0 %> <!-- more than 1000 -->
    <% sensor_events = 0 %> <!-- 500-1000 id -->
    <% @encounters.each do |encounter| %>
            <% if encounter.time.to_date == Time.now.to_date || true %>
                <% count = count + 1 %> 
                <% if encounter.status == 0 %>
                    <%clean_count = clean_count +1 %>
                <% end %>
                <% if encounter.sensor_sid != nil %>
                    <% bed_events = bed_events +1  %>
                <% else %>
                    <% sensor_events = sensor_events +1 %>
                <% end %>
            <% end %>
    <% end %>

    <%= javascript_include_tag('bower_components/jquery/dist/jquery.min.js') %>


        <script type="text/javascript">
        $(function () {

            $(document).ready(function () {

                // Build the chart
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        
                    },
                    title: {
                        text: 'مقایسه‌ی '
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                style: {fontFamily: 'Droid Arabic Naskh', fontSize: '10px'}
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name:   'Browser share',
                        data: [
                            ['سالم',  <%= clean_count %>],
                            ['ناسالم',       <%= count - clean_count %>],
                        ]
                    }]
                });
            });

        });
        </script>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">داشبورد</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-line-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">
                                    
                                    
                                    <%=count %>
                                   

                                    </div>
                                    <div>تبادل‌های امروز</div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <span class="pull-left">بیش‌تر</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge"><%= clean_count %></div>
                                    <div> تبادل‌های تمیز </div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#"> -->
                            <div class="panel-footer">
                                <span class="pull-left">بیش‌تر</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa  fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge"> <%= sensor_events %></div>
                                    <div> برخورد با شوینده‌ها </div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#"> -->
                            <div class="panel-footer">
                                <span class="pull-left">بیش‌تر</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-eye fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge"><%= bed_events %></div>
                                    <div>برخورد با حسگر‌های تخت</div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#"> -->
                            <div class="panel-footer">
                                <span class="pull-left">بیش‌تر</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        <!-- </a> -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Staff Statistics
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->

                       

                        <div class="panel-body">

                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Daily Statistics
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8-2">
                                     
                                    <div id="morris-bar-chart"></div>
                                    <div id="morris-donut-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                                   <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->

            </div>
            <!-- /.row -->
            <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> آمار کلی
                            </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="container" style="direction: ltr; min-width: px; height: 400px; max-width: 600px; margin: 0 auto " ></div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">مشاهده‌ی لیست افراد</a>
                        </div>
                </div>  
        </div>
               <!-- /.panel-body -->
                
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%= javascript_include_tag('bower_components/jquery/dist/jquery.min.js') %>
    

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag('bower_components/bootstrap/dist/js/bootstrap.min.js') %>
    
    <!-- Metis Menu Plugin JavaScript -->

    <!-- Metis Menu Plugin JavaScript -->
    <%= javascript_include_tag('bower_components/metisMenu/dist/metisMenu.min.js') %>

    <!-- Morris Charts JavaScript -->
    <%= javascript_include_tag('bower_components/raphael/raphael-min.js') %>
    <%= javascript_include_tag('bower_components/morrisjs/morris.min.js')%>
    <%= javascript_include_tag('js/morris-data.js') %>
  

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag ('dist/js/sb-admin-2.js') %>

    <!-- Charts JS -->
    <%= javascript_include_tag('chartjs/js/highcharts.js') %>
    <%= javascript_include_tag('chartjs/js/modules/exporting.js') %>
    
</body>

