<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Sur name:</strong>
  <%= @profile.surname %>
</p>

<table>
  <thead>
    <tr>
      <th>status</th>
      <th>sensor_id</th>
      <th>card_id</th>
      <th> time </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= @encounters.size %>
    <% @encounters.each do |encounter| %>
    	<%= encounter.card_id %>
    	<br>
    	<%= @profile.user_id %>
    	<% if encounter.card_id == @profile.user_id %>

	      <tr>
	        <td><%= encounter.status %></td>
	        <td><%= encounter.sensor_id %></td>
	        <td><%= encounter.card_id %></td>
	        <td><%= encounter.time %> </td>
	      </tr>
	    <% end %>
    <% end %>
  </tbody>
</table>